
    /* Basic CSS for navigation */
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li {
      float: right; /* Aligns items to the right */
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover {
      background-color: #111;
    }
    .logo {
      float: left;
      margin-right: 20px; /* Adjust the margin as needed */
    }
    .logo img {
      max-width: 100px; /* Adjust the size of the logo */
      height: auto;
    }
    .nav-item {
      background-color: #333;
    }
    body{
        background-color:  #084891;
    }

    /* Styles for the greeting message */
.greeting-message {
    display: none;
    position: fixed;
    top: 20px;
    /*Adjustthetopposition*/left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: yellow;
    animation: blink 1s infinite;
     /* Blink animation */  
    -webkit-animation: blink 1s infinite;
}
  
  @keyframes blink {
    0%, 49.9%, 100% {
      opacity: 0;
    }
    50%, 99.9% {
      opacity: 1;
    }
  }
  